.home{
  
  height:150%;
  // width: 100%;
}
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
// .home {
//   margin-top: -3rem;
// }

.grid {
  display: grid;
  gap: 1.5rem;
}
.home__content {
  // z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // max-width:100%;
  grid-template-columns: 116px, repeat(2, 1fr);
  // background-color: #e71b1be2;
  padding: 1rem 2rem;
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;

  font-family: "Roboto", sans-serif;
}
.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.social__icon:hover {
  color: #313bac;
}
.home__social-icon {
  font-size: 1.25rem;
  color: #0a0a0a;
}
.home__img {
  background: url(../../assets/profile-pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  justify-self: center;
  order: 1;
  width: 250px;
  height: 250px;
  animation: profile 8s ease-in-out infinite 1s;
}
@keyframes profile {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.home__title {
  font-size: 3rem;
  // font-family: "Roboto", sans-serif;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.home__hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}
.home__subtitle {
  position: relative;
  font-size: 1.25em;
  padding-left: 5.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background: #0a0a0a;
  left: 0;
  top: 1rem;
}
.home__desc {
  max-width: 400px;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 20);
  font-weight: 300;
}

.button {
  display: inline-block;
  background-color: #0a0a0a;
  color: #fff;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 500;

  & a {
    text-decoration: none;
  }
}

.button:hover {
  background-color: #0a0a0a;
}

.button__icon {
  margin-left: 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .home__content {
    flex-direction: row;
    order: 1;
    // overflow: hidden;
  }
  .home__img {
    position: absolute;
    top: 6rem;
    width: 150px;
    height: 150px;
    left: 6rem;
  }
  .home__title {
    font-size: 3rem;
    line-height: 4rem;
    // z-index: 3;
  }
}
